body{
    background-color: crimson;
}
table{
    width: auto;
    background-color: blueviolet;
    table-layout: auto;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
}
header{
    text-align: center;
    padding: 20px 0;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}